.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 70%;
    margin:auto;
}
.card-body {
width: 300px;
}

img {
    height: 200px;
    width: 300px;
}
